---
layout: default
nav: blog
body_class: post
---

<article class="resume-wrapper mx-auto rounded-2 detail-page-wrapper blog-post-wrapper">
  {% if page.header_img %}
  <img class="blog-post-hero" src="{{ '/' | append: page.header_img | relative_url }}" alt="">
  {% endif %}

  <div class="resume-body p-4 p-lg-5">
    <header class="blog-post-header">
      <a class="blog-back-link" href="{{ '/blog/' | relative_url }}"><i class="bi bi-arrow-left"></i> Blog</a>
      <p class="detail-page-kicker">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} / {{ page.author }}{% endif %}</p>
      <h1 class="detail-page-title">{{ page.title }}</h1>
      {% if page.subtitle %}
      <p class="detail-page-description">{{ page.subtitle }}</p>
      {% endif %}
      {% if page.tags and page.tags.size > 0 %}
      <div class="blog-tags">
        {% for tag in page.tags %}
        <span>{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </header>

    <div class="blog-post-content">
      {{ content }}
    </div>
  </div>
</article>
